@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    background-color: #071423;
    scroll-behavior: smooth;
}

.page__loading {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #071423;
    overflow: hidden;
    z-index: 10000000;

    .loader {
        width: 48px;
        height: 48px;
        background: transparent;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite
    }

    .loader::before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 5px solid #00d8ad;
        animation: prixClipFix 2s linear infinite;
    }
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #071423;
    padding: 0 6% 0 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    z-index: 100;

    .logo-pag {
        width: 3rem;
        height: 3rem;
        color: #fff;
        background-color: #00d8ad;
        border-radius: 50%;
        z-index: 10000;

        h2 {
            text-align: center;
            background: transparent;
            font-size: 2rem;
        }
    }

    .nav ul {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        background: #071423;
        cursor: pointer;
        animation: myAnimLetter 1s ease 3.5s 1 normal both;

        li {
            list-style: none;
            background: #071423;


            a {
                text-decoration: none;

                .text {
                    color: white;
                    padding: 5px;
                    font-size: 1rem;
                    font-weight: 300;
                    background: #071423;
                    display: flex;
                    flex-direction: column;

                    &::after {
                        content: '';
                        width: 0;
                        height: 3px;
                        background: #00d8ad;
                        transition: all 500ms;
                    }

                    &:hover::after {
                        width: 75px;
                    }

                }

            }
        }
    }

    .toggle {
        display: none;
    }

}

// ? contenedor de inicio
.home {
    display: flex;
    position: relative;
    min-height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .blob {
        position: absolute;
        width: 550px;
        height: 550px;

        &:nth-child(2) {
            filter: blur(90px);
        }
    }

    .home-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: transparent;
        z-index: 50;

        h2 {
            font-size: 3.6rem;
            font-weight: 800;
            color: #06A685;
            background: transparent;
        }

        span {
            font-size: 15px;
            color: #fff;
            background: transparent;
        }

    }

}

// ? contenedor de acerca de mi
#about {
    height: 100vh;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    h2 {
        color: #fff;
        font-size: 2rem;
    }

    hr {
        width: 3rem;
        margin-bottom: 3rem;

    }

    .about-me {
        height: 30rem;
        color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        box-shadow: 0 20px 20px rgb(0, 0, 0, 0.2);
        gap: 5rem;

        .circle{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #0f243aad;
            clip-path: circle(20% at 0 0);
            &:nth-child(2){
                clip-path: circle(20% at 100% 90%);
            }
        }
    
        .foto {
            padding: 3rem;
            background: none;
            img {
                width: 300px;
                background: transparent;
                border-radius: 30% 70% 46% 54% / 39% 30% 70% 61%;
            }
        }

        .resumen {
            background: transparent;
            padding: 0 6rem 0 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            p {
                background: transparent;
            }

            .boton {
                border: 1px solid rgb(0, 216, 173);
                cursor: pointer;
                text-decoration: none;
                color: #fff;
                display: flex;
                gap: 5px;
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 600;
                padding: .5rem 1rem;
                margin-top: 1rem;
                background: linear-gradient(to left, rgba(238, 45, 45, 0) 50%, rgb(0, 216, 173) 50%) no-repeat right / 200%;
                transition: background-position .5s ease;

                &:hover {
                    background-position: left;
                }

                span {
                    background: transparent;
                }

                box-icon {
                    background: transparent;
                }
            }

        }
    }
}

// ? contenedor de habilidades
#habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 100vh;
    width: 100%;

    h2 {
        color: #fff;
        font-size: 2rem;
    }

    hr {
        width: 4rem;
        margin-bottom: 3rem;
    }

    .logos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        height: 20rem;

        .fila {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .log {
                width: 8rem;
                height: 8rem;
                background: #0f243a;
                border-radius: 10px;
                padding: 5px;
                cursor: pointer;
                transition: 300ms;

                &:hover {
                    transform: scale(1.2);
                }

                &:active {
                    transform: rotate(-300deg);
                }
            }
        }
    }
}

// ? contenedor de portafolio
#proyectos {
    height: 100vh;    
}

// ? contenedor de contacto
#contactame {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    .circle{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 216, 173, 0.253);
        clip-path: circle(18% at 0 85%);
        &:nth-child(2){
            clip-path: circle(12.4% at 0 94%);
        }
        &:nth-child(3){
            clip-path: circle(8% at 0 100%);
        }
        &:nth-child(4){
            clip-path: circle(28.3% at 100% 75%);
            background: rgba(15, 36, 58, 0.589);
        }
    }
    .container {
        position: relative;
        min-width: 1100px;
        min-height: 550px;
        display: flex;
        z-index: 1000;

        .contact__info {
            position: absolute;
            top: 40px;
            width: 350px;
            height: calc(100% - 80px);
            background: #0f243a;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 20px 20px rgb(0, 0, 0, 0.2);

            h2 {
                font-size: 24px;
                font-weight: 500;
                color: #fff;
                background: transparent;
            }

            .inf {
                position: relative;
                margin: 20px 0;
                background: transparent;

                li {
                    position: relative;
                    list-style: none;
                    display: flex;
                    margin: 2px 0;
                    align-items: flex-start;
                    background: transparent;

                    span:nth-child(1) {
                        width: 30px;
                        min-width: 30px;
                        background: transparent;

                        i {
                            max-width: 100%;
                            color: #00d8ad;
                            opacity: 0.5;
                            background: transparent;
                        }
                    }

                    span:nth-child(2) {
                        color: #fff;
                        margin-left: 10px;
                        font-weight: 500;
                        opacity: 0.5;
                        background: transparent;
                        font-size: 14px;

                        i {
                            max-width: 100%;
                            color: #00d8ad;
                            opacity: 0.5;
                            background: transparent;
                        }

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }

            .social__contact {
                position: relative;
                display: flex;
                background: none;
                li{
                    list-style: none;
                    margin-right: 15px;
                    background: transparent;
                    a{
                        text-decoration: none;
                        background: transparent;
                        i{
                            color: #fff;
                            opacity: 0.5;
                            font-size: 25px;
                            padding: 5px;
                            background: transparent;
                            &:hover{
                                opacity: 1;
                            }
                        }

                    }
                }
                .circle{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background: #00d8ad;
                    clip-path: circle(32.5% at 87% 100%);
                }
            }
        }
        .target__form{
            position: absolute;
            padding: 70px 50px;
            background: #121D29;
            margin-left: 150px;
            padding-left: 250px;
            height: 100%;
            z-index: -1;
            width: calc(100% - 150px);
            box-shadow: 0 50px 50px rgb(0, 0, 0, 0.5);
            h2{
                color: #06A685;
                font-weight: 500;
                font-size: 25px;
                background: #121D29;
            }
            .form__box{
                position: relative;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding-top: 30px;
                background: #121D29;
                .input__box{
                    position: relative;
                    margin-bottom: 30px;
                    background: transparent;
                    .w50{
                        width: 47%;
                    }
                    input, textarea{
                        width: 100%;
                        padding: 5px;
                        font-size: 18px;
                        resize: none;
                        font-weight: 300;
                        border: none;
                        color: #fff;
                        border-bottom: 1px solid #00d8ad;
                        outline: none;
                        opacity: 0.3;
                        background: transparent;
                        &:focus{
                            opacity: 1;
                            & ~ span{
                                transform: translateY(-20px);
                                font-size: 14px;
                                letter-spacing: 1px;
                                font-weight: 500;
                                color: aliceblue;
                            }
                            
                        }
                        &:valid{
                            opacity: 1;
                            & ~ span{
                                transform: translateY(-20px);
                                font-size: 14px;
                                letter-spacing: 1px;
                                font-weight: 500;
                                color: aliceblue;
                            }
                        }
                    }
                    span{
                        position: absolute;
                        left: 0;
                        background: transparent;
                        padding: 5px 0;
                        font-size: 18px;
                        font-weight: 300;
                        transition: 0.5s;
                        pointer-events: none;

                    }
                    textarea{
                        min-height: 120px;
                    }
                    #btn{
                        position: relative;
                        cursor: pointer;
                        background: #00d8ada6;
                        max-width: 150px;
                        border: none;
                        color: #fff;
                        padding: 12px;
                        &:hover{
                            background: #00d8ad;
                        }
                    }
                }
                .w100{
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 550px) {
    header {
        display: flex;
        width: 100%;

        .nav {
            display: none;

            &.active {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #071423;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .text {
                        font-size: 2rem;
                    }
                }
            }
        }

        .toggle {
            display: flex;
            width: 20px;
            height: 20px;
            cursor: pointer;
            z-index: 1000;
            border-bottom: 3px solid #fff;
            transition: .5s;

            &::after {
                content: '';
                position: absolute;
                width: 20px;
                height: 3px;
                background: #fff;
                transition: .5s;
            }

            &::before {
                content: '';
                position: absolute;
                width: 20px;
                height: 3px;
                background: #fff;
                transform: translateY(8px);
                transition: .5s;
            }

        }

        .active {
            position: fixed;
            right: 30px;
            border: 0px;

            &::before {
                transform: translateY(0) rotate(45deg);
            }

            &::after {
                transform: translateY(0px) rotate(-45deg);
            }
        }
    }

    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        .blob {
            width: 400px;
            height: 400px;
        }

        .home-profile {
            display: flex;

            h2 {
                font-size: 2.5rem;
            }
        }
    }

    #about {
        width: 100%;

        h2 {
            font-size: 1.1rem;
            margin-top: 1rem;
        }

        .about-me {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            gap: .5rem;
            height: 40rem;
            padding: 5px;
            margin: 5px;

            .foto {
                padding: 1rem;

                img {
                    width: 200px;
                }
            }

            .resumen {
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    font-size: .9rem;
                }

                .boton {
                    padding: .5rem 1rem;
                    font-size: .9rem;
                    border-radius: 10px;
                }
            }
        }
    }

    #habilidades {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5rem 0;

        h2 {
            font-size: 1.1rem;
        }

        .logos {
            display: flex;
            flex-direction: row;
            gap: 10px;
            height: 25rem;

            .fila {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .log {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

    #proyectos {
        h2 {
            font-size: 1.1rem;
        }

        .cont {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .card {
                width: 350px;
                height: 150px;

                .img {
                    position: relative;

                    img {
                        width: 90px;
                        height: 120px;
                        position: absolute;
                        left: -30px;
                        top: -60px;
                    }
                }

                .cuerpo {
                    padding-left: 4rem;
                }

                .links {
                    a {
                        font-size: .8rem;
                        padding: .3rem .3rem;

                    }
                }
            }
        }
    }
}

// animations loading..
@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}
