@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    background-color: #071423;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #071423;
    padding: 0 6% 0 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    z-index: 100;

    .logo-pag {
        width: 3rem;
        height: 3rem;
        color: #fff;
        background-color: #00d8ad;
        border-radius: 50%;
        z-index: 10000;

        h2 {
            text-align: center;
            background: transparent;
            font-size: 2rem;
        }
    }

    .nav ul {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        background: #071423;
        cursor: pointer;

        li {
            list-style: none;
            background: #071423;


            a {
                text-decoration: none;

                .text {
                    color: white;
                    font-size: 1rem;
                    font-weight: 300;
                    background: #071423;

                    &:hover {
                        color: #00d8ad;
                    }

                }

            }
        }
    }

    .toggle {
        display: none;
    }

}

// ? contenedor de inicio
.home {
    display: flex;
    position: relative;
    min-height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .blob {
        position: absolute;
        width: 550px;
        height: 550px;

        &:nth-child(2) {
            filter: blur(90px);
        }
    }

    .home-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: transparent;
        z-index: 50;

        h2 {
            font-size: 3.5rem;
            color: #06A685;
            background: transparent;

        }

        span {
            font-size: 15px;
            color: #fff;
            background: transparent;
        }

    }

    .social {
        display: flex;
        gap: 10px;
        margin-top: 10px;
        background: transparent;


        a {
            font-size: 1.5rem;
            z-index: 10;
            padding: 0 5px;
            background: transparent;

        }
    }
}

// ? contenedor de acerca de mi
#about {
    height: 100vh;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    h2 {
        color: #fff;
        font-size: 2rem;
    }

    hr {
        width: 3rem;
        margin-bottom: 3rem;

    }

    .about-me {
        height: 30rem;
        color: #fff; // !QUITAR
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        background-attachment: local;
        background: rgb(6, 166, 133);
        background: linear-gradient(270deg, rgba(6, 166, 133, 1) 3%, rgba(24, 41, 62, 1) 3%, rgba(19, 23, 27, 1) 100%);

        .foto {
            padding: 3rem;
            background: none;

            img {
                width: 300px;
                // background: rgba(47,72,88,1);
                background: transparent;
                border-radius: 30% 70% 46% 54% / 39% 30% 70% 61%;
            }
        }

        .resumen {
            background: transparent;
            padding: 0 6rem 0 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            p {
                background: transparent;
            }

            .boton {
                border: 2px solid rgb(0, 216, 173);
                cursor: pointer;
                text-decoration: none;
                color: #fff;
                display: flex;
                gap: 5px;
                font-size: 1.1rem;
                padding: 1rem 2rem;
                margin-top: 1rem;
                background: linear-gradient(to left, rgba(238, 45, 45, 0) 50%, rgb(0, 216, 173) 50%) no-repeat right / 200%;
                transition: background-position .5s ease;

                &:hover {
                    background-position: left;
                }

                span {
                    background: transparent;
                }

                box-icon {
                    background: transparent;
                }
            }

        }
    }
}

// ? contenedor de habilidades
#habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 100vh;
    width: 100%;

    h2 {
        color: #fff;
        font-size: 2rem;
    }

    hr {
        width: 4rem;
        margin-bottom: 3rem;
    }

    .logos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        height: 20rem;

        .fila {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .log {
                width: 8rem;
                height: 8rem;
                background: #0f243a;
                border-radius: 10px;
                padding: 5px;
                cursor: pointer;
                transition: 300ms;

                &:hover {
                    transform: scale(1.2);
                }

                &:active {
                    transform: rotate(-300deg);
                }
            }
        }
    }
}

// ? contenedor de portafolio
#proyectos {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2769%26quot%3b)' fill='none'%3e%3cg transform='translate(0%2c 0)' stroke-linecap='round' stroke='url(%23SvgjsLinearGradient2770)'%3e%3cpath d='M300 200.28 L300 222.78' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M300 256.53 L300 279.03' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M300 312.78 L300 359.73' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M330 239.93 L330 320.07' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M360 141.15 L360 186.15' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M360 219.9 L360 264.9' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M360 298.65 L360 418.86' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M390 130.16 L390 152.66' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M390 186.41 L390 298.90999999999997' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M390 332.65999999999997 L390 429.85' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M420 272.15 L420 287.85' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M450 127.63 L450 240.13' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M450 273.88 L450 432.37' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M480 200.38 L480 245.38' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M480 279.13 L480 359.62' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M510 262.81 L510 297.19' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M540 159.6 L540 317.1' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M540 350.85 L540 400.4' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M570 154.03 L570 266.53' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M570 300.28 L570 405.98' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M600 256.28999999999996 L600 303.71' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M630 184.01 L630 251.51' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M630 285.26 L630 375.99' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M660 147.06 L660 412.94' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M690 147.62 L690 237.62' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M690 271.37 L690 316.37' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M690 350.12 L690 412.38' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M720 188.18 L720 210.68' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M720 244.43 L720 371.82' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M750 130.67000000000002 L750 243.17000000000002' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M750 276.92 L750 299.42' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M750 333.17 L750 429.33' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M780 246.16 L780 313.85' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M810 263.64 L810 296.36' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M840 244.74 L840 315.26' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M870 179.49 L870 224.49' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M870 258.24 L870 380.51' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M900 211.45 L900 278.95' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M900 312.7 L900 348.55' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M930 151 L930 409' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M960 130.25 L960 287.75' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M960 321.5 L960 344' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M960 377.75 L960 429.75' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M990 269.84 L990 290.16' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M1020 120.68 L1020 255.68' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M1020 289.43 L1020 334.43' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M1020 368.18 L1020 439.32' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M1050 128.47 L1050 431.53' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M1080 206.61 L1080 229.11' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M1080 262.86 L1080 285.36' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M1080 319.11 L1080 353.39' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M1110 141.97 L1110 418.02' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M1140 237.5 L1140 322.5' stroke-width='22.5'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2769'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='720' y1='453.6' x2='720' y2='106.4' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2770'%3e%3cstop stop-color='rgba(0%2c 216%2c 173%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(6%2c 11%2c 75%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");

    h2 {
        color: #fff;
        background: transparent;
    }

    hr {
        width: 50px;
        margin-bottom: 5rem;

    }

    .cont {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background: transparent;
        gap: 50px;

        .card {
            width: 400px;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            background-color: #2C3742;
            box-shadow: 0 0 2px 2px #333c46;

            .img {
                position: relative;

                img {
                    width: 120px;
                    height: 180px;
                    position: absolute;
                    left: -50px;
                    top: -90px;
                    border-radius: 10px;
                    object-fit: cover;
                }

            }

            .cuerpo {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                background: transparent;
                padding-left: 6rem;


                h2 {
                    text-align: center;
                    background: transparent;
                }

                .badge {
                    display: flex;
                    gap: 5px;
                    background: none;

                    .badge__tec {
                        background: var(--color);
                        border-radius: 25px;
                        font-size: .8rem;
                        padding: 2px 5px;
                    }
                }
            }

            .links {
                background: transparent;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                a {
                    text-decoration: none;
                    color: #fff;
                    width: 7rem;
                    margin: .6rem;
                    padding: .5rem .5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #00d8ad;
                    background: linear-gradient(to left, rgba(238, 45, 45, 0) 50%, rgb(0, 216, 173) 50%) no-repeat right / 200%;
                    transition: background-position .3s ease;

                    &:hover {
                        background-position: left;
                    }

                    box-icon {
                        background: transparent;
                    }
                }
            }

        }
    }
}

@media (max-width: 550px) {
    header {
        display: flex;
        width: 100%;

        .nav {
            display: none;
            &.active{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #071423;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .toggle {
            display: flex;
            width: 30px;
            height: 30px;
            cursor: pointer;
            z-index: 100000;
            &.active{
                position: fixed;
                right: 30px;
                background: transparent;
                &::after{
                    content: '';
                }
                
            }
        }
    }

    .home {
        display: flex;
        justify-content: center;
        align-items: center;

        .blob {
            width: 400px;
            height: 400px;
        }

        .home-profile {
            display: flex;

            h2 {
                font-size: 2.5rem;
            }
        }
    }

    #about {
        width: 100%;

        h2 {
            font-size: 1.1rem;
        }

        .about-me {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            gap: .5rem;
            height: 35rem;
            padding: 5px;
            margin: 10px;

            .foto {
                padding: 1rem;

                img {
                    width: 200px;
                }
            }

            .resumen {
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    font-size: .9rem;
                }

                .boton {
                    padding: .5rem 1rem;
                    font-size: .9rem;
                    border-radius: 10px;
                }
            }
        }
    }

    #habilidades {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5rem 0;

        h2 {
            font-size: 1.1rem;
        }

        .logos {
            display: flex;
            flex-direction: row;
            gap: 10px;
            height: 25rem;

            .fila {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .log {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

    #proyectos {
        h2 {
            font-size: 1.1rem;
        }

        .cont {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .card {
                width: 350px;
                height: 150px;

                .img {
                    position: relative;

                    img {
                        width: 90px;
                        height: 120px;
                        position: absolute;
                        left: -30px;
                        top: -60px;
                    }
                }

                .cuerpo{
                    padding-left: 4rem;
                }
                .links{
                    a{
                        font-size: .8rem;
                        padding: .3rem .3rem;

                    }
                }
            }
        }
    }
}