@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  background-color: #071423;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  scroll-behavior: smooth;
}

.page__loading {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #071423;
  overflow: hidden;
  z-index: 10000000;
}
.page__loading .loader {
  width: 48px;
  height: 48px;
  background: transparent;
  border-radius: 50%;
  position: relative;
  -webkit-animation: rotate 1s linear infinite;
          animation: rotate 1s linear infinite;
}
.page__loading .loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #00d8ad;
  -webkit-animation: prixClipFix 2s linear infinite;
          animation: prixClipFix 2s linear infinite;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #071423;
  padding: 0 6% 0 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  z-index: 100;
}
header .logo-pag {
  width: 3rem;
  height: 3rem;
  color: #fff;
  background-color: #00d8ad;
  border-radius: 50%;
  z-index: 10000;
}
header .logo-pag h2 {
  text-align: center;
  background: transparent;
  font-size: 2rem;
}
header .nav ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  background: #071423;
  cursor: pointer;
  -webkit-animation: myAnimLetter 1s ease 3.5s 1 normal both;
          animation: myAnimLetter 1s ease 3.5s 1 normal both;
}
header .nav ul li {
  list-style: none;
  background: #071423;
}
header .nav ul li a {
  text-decoration: none;
}
header .nav ul li a .text {
  color: white;
  padding: 5px;
  font-size: 1rem;
  font-weight: 300;
  background: #071423;
  display: flex;
  flex-direction: column;
}
header .nav ul li a .text::after {
  content: "";
  width: 0;
  height: 3px;
  background: #00d8ad;
  transition: all 500ms;
}
header .nav ul li a .text:hover::after {
  width: 75px;
}
header .toggle {
  display: none;
}

.home {
  display: flex;
  position: relative;
  min-height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home .blob {
  position: absolute;
  width: 550px;
  height: 550px;
}
.home .blob:nth-child(2) {
  filter: blur(90px);
}
.home .home-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  z-index: 50;
}
.home .home-profile h2 {
  font-size: 3.5rem;
  color: #06A685;
  background: transparent;
  -webkit-animation: myAnimLetter 2s ease 2s normal forwards;
          animation: myAnimLetter 2s ease 2s normal forwards;
}
.home .home-profile span {
  font-size: 15px;
  color: #fff;
  background: transparent;
}
.home .social {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  background: transparent;
}
.home .social a {
  font-size: 1.5rem;
  z-index: 10;
  padding: 0 5px;
  background: transparent;
}

#about {
  height: 100vh;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#about h2 {
  color: #fff;
  font-size: 2rem;
}
#about hr {
  width: 3rem;
  margin-bottom: 3rem;
}
#about .about-me {
  height: 30rem;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-attachment: local;
  background: rgb(6, 166, 133);
  background: linear-gradient(270deg, rgb(6, 166, 133) 3%, rgb(24, 41, 62) 3%, rgb(19, 23, 27) 100%);
}
#about .about-me .foto {
  padding: 3rem;
  background: none;
}
#about .about-me .foto img {
  width: 300px;
  background: transparent;
  border-radius: 30% 70% 46% 54%/39% 30% 70% 61%;
}
#about .about-me .resumen {
  background: transparent;
  padding: 0 6rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#about .about-me .resumen p {
  background: transparent;
}
#about .about-me .resumen .boton {
  border: 2px solid rgb(0, 216, 173);
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  display: flex;
  gap: 5px;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
  background: linear-gradient(to left, rgba(238, 45, 45, 0) 50%, rgb(0, 216, 173) 50%) no-repeat right/200%;
  transition: background-position 0.5s ease;
}
#about .about-me .resumen .boton:hover {
  background-position: left;
}
#about .about-me .resumen .boton span {
  background: transparent;
}
#about .about-me .resumen .boton box-icon {
  background: transparent;
}

#habilidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  height: 100vh;
  width: 100%;
}
#habilidades h2 {
  color: #fff;
  font-size: 2rem;
}
#habilidades hr {
  width: 4rem;
  margin-bottom: 3rem;
}
#habilidades .logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 20rem;
}
#habilidades .logos .fila {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#habilidades .logos .fila .log {
  width: 8rem;
  height: 8rem;
  background: #0f243a;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: 300ms;
}
#habilidades .logos .fila .log:hover {
  transform: scale(1.2);
}
#habilidades .logos .fila .log:active {
  transform: rotate(-300deg);
}

#proyectos {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2769%26quot%3b)' fill='none'%3e%3cg transform='translate(0%2c 0)' stroke-linecap='round' stroke='url(%23SvgjsLinearGradient2770)'%3e%3cpath d='M300 200.28 L300 222.78' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M300 256.53 L300 279.03' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M300 312.78 L300 359.73' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M330 239.93 L330 320.07' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M360 141.15 L360 186.15' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M360 219.9 L360 264.9' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M360 298.65 L360 418.86' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M390 130.16 L390 152.66' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M390 186.41 L390 298.90999999999997' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M390 332.65999999999997 L390 429.85' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M420 272.15 L420 287.85' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M450 127.63 L450 240.13' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M450 273.88 L450 432.37' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M480 200.38 L480 245.38' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M480 279.13 L480 359.62' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M510 262.81 L510 297.19' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M540 159.6 L540 317.1' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M540 350.85 L540 400.4' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M570 154.03 L570 266.53' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M570 300.28 L570 405.98' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M600 256.28999999999996 L600 303.71' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M630 184.01 L630 251.51' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M630 285.26 L630 375.99' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M660 147.06 L660 412.94' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M690 147.62 L690 237.62' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M690 271.37 L690 316.37' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M690 350.12 L690 412.38' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M720 188.18 L720 210.68' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M720 244.43 L720 371.82' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M750 130.67000000000002 L750 243.17000000000002' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M750 276.92 L750 299.42' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M750 333.17 L750 429.33' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M780 246.16 L780 313.85' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M810 263.64 L810 296.36' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M840 244.74 L840 315.26' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M870 179.49 L870 224.49' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M870 258.24 L870 380.51' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M900 211.45 L900 278.95' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M900 312.7 L900 348.55' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M930 151 L930 409' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M960 130.25 L960 287.75' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M960 321.5 L960 344' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M960 377.75 L960 429.75' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M990 269.84 L990 290.16' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M1020 120.68 L1020 255.68' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M1020 289.43 L1020 334.43' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M1020 368.18 L1020 439.32' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M1050 128.47 L1050 431.53' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M1080 206.61 L1080 229.11' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M1080 262.86 L1080 285.36' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M1080 319.11 L1080 353.39' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M1110 141.97 L1110 418.02' stroke-width='22.5'%3e%3c/path%3e%3cpath d='M1140 237.5 L1140 322.5' stroke-width='22.5'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2769'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='720' y1='453.6' x2='720' y2='106.4' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2770'%3e%3cstop stop-color='rgba(0%2c 216%2c 173%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(6%2c 11%2c 75%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
#proyectos h2 {
  color: #fff;
  background: transparent;
}
#proyectos hr {
  width: 50px;
  margin-bottom: 5rem;
}
#proyectos .cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: transparent;
  gap: 50px;
}
#proyectos .cont .card {
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #2C3742;
  box-shadow: 0 0 2px 2px #333c46;
}
#proyectos .cont .card .img {
  position: relative;
}
#proyectos .cont .card .img img {
  width: 120px;
  height: 180px;
  position: absolute;
  left: -50px;
  top: -90px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
#proyectos .cont .card .cuerpo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: transparent;
  padding-left: 6rem;
}
#proyectos .cont .card .cuerpo h2 {
  text-align: center;
  background: transparent;
}
#proyectos .cont .card .cuerpo .badge {
  display: flex;
  gap: 5px;
  background: none;
}
#proyectos .cont .card .cuerpo .badge .badge__tec {
  background: var(--color);
  border-radius: 25px;
  font-size: 0.8rem;
  padding: 2px 5px;
}
#proyectos .cont .card .links {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#proyectos .cont .card .links a {
  text-decoration: none;
  color: #fff;
  width: 7rem;
  margin: 0.6rem;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #00d8ad;
  background: linear-gradient(to left, rgba(238, 45, 45, 0) 50%, rgb(0, 216, 173) 50%) no-repeat right/200%;
  transition: background-position 0.3s ease;
}
#proyectos .cont .card .links a:hover {
  background-position: left;
}
#proyectos .cont .card .links a box-icon {
  background: transparent;
}

#contactame {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#contactame form {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 10px;
  position: relative;
  box-shadow: 0 0 15px -8px #00d8ad;
  width: 400px;
}
#contactame form h2 {
  font-size: 1.5rem;
  font-weight: 800;
  color: #c9c9c9;
  text-align: center;
  margin: 20px;
}
#contactame form .input__box {
  position: relative;
}
#contactame form .input__box span {
  position: absolute;
  font-size: 1.1rem;
  left: 15px;
  top: 17px;
  color: #00d8ad;
  transition: 200ms;
}
#contactame form .input__box input {
  border: 2px solid #0f243a;
  outline: none;
  padding: 5px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 1rem;
  color: #c9c9c9;
  transition: 200ms;
}
#contactame form .input__box input:focus ~ span {
  transform: translateY(-15px) translateX(-8px);
  font-size: 0.8rem;
}
#contactame form .input__box input:valid ~ span {
  transform: translateY(-15px) translateX(-8px);
  font-size: 0.8rem;
}
#contactame form .input__box textarea {
  width: 100%;
  margin-top: 15px;
  resize: none;
  outline: none;
  color: #c9c9c9;
  padding: 15px;
  border: 2px solid #0f243a;
}
#contactame form .input__box textarea:focus ~ span {
  transform: translateY(-10px) translateX(-8px);
  font-size: 0.8rem;
}
#contactame form .input__box textarea:valid ~ span {
  transform: translateY(-10px) translateX(-8px);
  font-size: 0.8rem;
}
#contactame form #btn {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background-color: #00d8ad;
  border-radius: 5px;
}
#contactame form #btn:hover {
  background-color: #06A685;
}

@media (max-width: 550px) {
  header {
    display: flex;
    width: 100%;
  }
  header .nav {
    display: none;
  }
  header .nav.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #071423;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  header .nav.active ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .nav.active ul .text {
    font-size: 2rem;
  }
  header .toggle {
    display: flex;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1000;
    border-bottom: 3px solid #fff;
    transition: 0.5s;
  }
  header .toggle::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: #fff;
    transition: 0.5s;
  }
  header .toggle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: #fff;
    transform: translateY(8px);
    transition: 0.5s;
  }
  header .active {
    position: fixed;
    right: 30px;
    border: 0px;
  }
  header .active::before {
    transform: translateY(0) rotate(45deg);
  }
  header .active::after {
    transform: translateY(0px) rotate(-45deg);
  }
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .home .blob {
    width: 400px;
    height: 400px;
  }
  .home .home-profile {
    display: flex;
  }
  .home .home-profile h2 {
    font-size: 2.5rem;
  }
  #about {
    width: 100%;
  }
  #about h2 {
    font-size: 1.1rem;
    margin-top: 1rem;
  }
  #about .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 0.5rem;
    height: 40rem;
    padding: 5px;
    margin: 5px;
  }
  #about .about-me .foto {
    padding: 1rem;
  }
  #about .about-me .foto img {
    width: 200px;
  }
  #about .about-me .resumen {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #about .about-me .resumen p {
    font-size: 0.9rem;
  }
  #about .about-me .resumen .boton {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 10px;
  }
  #habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
  }
  #habilidades h2 {
    font-size: 1.1rem;
  }
  #habilidades .logos {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 25rem;
  }
  #habilidades .logos .fila {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #habilidades .logos .fila .log {
    width: 60px;
    height: 60px;
  }
  #proyectos h2 {
    font-size: 1.1rem;
  }
  #proyectos .cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  #proyectos .cont .card {
    width: 350px;
    height: 150px;
  }
  #proyectos .cont .card .img {
    position: relative;
  }
  #proyectos .cont .card .img img {
    width: 90px;
    height: 120px;
    position: absolute;
    left: -30px;
    top: -60px;
  }
  #proyectos .cont .card .cuerpo {
    padding-left: 4rem;
  }
  #proyectos .cont .card .links a {
    font-size: 0.8rem;
    padding: 0.3rem 0.3rem;
  }
}
@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes prixClipFix {
  0% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
            clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
@keyframes prixClipFix {
  0% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
            clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
@-webkit-keyframes myAnim {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-24px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-12px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-6px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-4px);
  }
  25%, 55%, 75%, 87% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes myAnim {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-24px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-12px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-6px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-4px);
  }
  25%, 55%, 75%, 87% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes myAnimLetter {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }
  38% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }
  55% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-65px);
  }
  72% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
  81% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-28px);
  }
  90% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
  95% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-8px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
}
@keyframes myAnimLetter {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }
  38% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }
  55% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-65px);
  }
  72% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
  81% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-28px);
  }
  90% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
  95% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-8px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
}/*# sourceMappingURL=styles.css.map */