@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

// ! -------------------------- NAVEGACION -------------------------- 

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #141518;
    z-index: 1000;

    h2 {
        color: #3592FA;
        font-size: 2rem;
        text-shadow: 0 0 5px;

        span {
            font-size: 15px;
        }
    }

    a {
        text-decoration: none;
        outline: none;
        cursor: pointer;

        :hover {
            color: #3592FA;
        }

        i {
            font-size: 25px;
            color: #F3F9FF;
        }
    }
}

// ! -------------------------- HOME -------------------------- 

#home {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #141518;
    color: #F3F9FF;

    .saludo1 {
        font-weight: 300;
        z-index: 500;
        letter-spacing: 2px;
    }

    .saludo2 {
        font-size: 4rem;
        // background: #F3F9FF url(../img/circle.png);
        // -webkit-background-clip: text;
        // background-clip: text;
        // -webkit-text-fill-color: transparent;
        z-index: 500;
        letter-spacing: 3px;
        text-align: center;

    }

    .saludo3 {
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 30px;
        letter-spacing: 2px;
        z-index: 500;

    }

    a {
        color: #F3F9FF;
        text-decoration: none;
        outline: none;
        padding: 5px 10px;
        font-size: 10px;
        font-weight: 600;
        text-transform: uppercase;
        background: #000000;
        border: 2px solid #000000;
        box-shadow: -3px 3px 0 0 rgb(0, 0, 0, 0.5);
        cursor: pointer;
        letter-spacing: 3px;
        transition: 300ms;
        z-index: 500;
        &:hover{
            box-shadow: -6px 6px 0 0 rgb(0, 0, 0, 0.5);
            text-decoration: underline;
        }

    }

    .burbuja {
        position: absolute;
        width: 55%;
        z-index: 100;

        :nth-child(2) {
            filter: blur(10px);
        }
    }
}

// ! -------------------------- ACERCA DE -------------------------- 

.acerca__de {
    min-height: 60vh;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .triangle{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(53, 145, 250, 0.603);
        clip-path: circle(20% at 100% 100%);
    }
    .img {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #21293B;
            font-size: 30px;
            font-weight: 300;
            text-shadow: 0px 5px 5px rgb(0, 0, 0, 0.4);
            letter-spacing: 3px;

            &::before{
                content: '';
                position: absolute;
                bottom: 5px;
                left: -5px;
                width: 30px;
                height: 35px;
                background: #3592FA;
                box-shadow: -3px 3px 0px 0px rgba(0,0,0,0.75);
                z-index: -1;
            }
        }
    }

    .info__acercade {
        position: relative;
        padding: 40px 10px;
        max-width: 600px;

        .presentacion {
            font-size: 14px;
            margin-bottom: 15px;
        }

        hr {
            margin-bottom: 20px;
            border: none;
            border-bottom: 1px solid #3592FA;
        }

        li {
            list-style: none;

            i {
                color: #3592FA;
                padding-right: 10px;
            }

            span:nth-child(2) {
                font-size: 14px;
                color: #21293B;
            }
        }

        .cv {
            display: inline-block;
            text-decoration: none;
            color: #F3F9FF;
            background: #21293B;
            box-shadow: -2px 2px 0 0 rgb(0, 0, 0, 0.7);
            padding: 10px;
            font-size: 12px;
            letter-spacing: 2px;
            margin-top: 20px;
            border: 2px solid #21293B;
            outline: none;
            transition: 200ms;
            &:hover{
            box-shadow: -6px 6px 0 0 rgb(0, 0, 0, 0.7);

            }

        }

    }
}

// ! -------------------------- TECNOLOGIAS -------------------------- 

.tecnologias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: #dce5ee;
    flex-wrap: wrap;
    z-index: -10;
    .tec{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 30px;
        gap: 20px;
        .log{
            width: 90px;
            filter: grayscale(100%) drop-shadow(0 8px 10px rgba(0, 0, 0, 0.507));
            &:hover{
                filter: grayscale(0) drop-shadow(0 8px 10px rgba(0, 0, 0, 0.507));
            }

        }
    }
    .desc{
        padding: 20px;
        h2{
            position: relative;
            color: #21293B;
            font-size: 30px;
            font-weight: 300;
            letter-spacing: 2px;
            text-shadow: 0 10px 10px rgb(0, 0, 0, 0.5);
            z-index: 1;
            &::before{
                content: '';
                position: absolute;
                bottom: 6px;
                left: -6px;
                width: 30px;
                height: 35px;
                background: #3592FA;
                box-shadow: -3px 3px 0px 0px rgba(0,0,0,0.75);
                z-index: -1;
            }
        }
    }
}

// ! -------------------------- PROYECTOS -------------------------- 

.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 50px);
    gap: 30px;
    h2{
        color: #21293B;
        font-size: 30px;
        font-weight: 400;
        margin: 20px;
        position: relative;
        text-shadow: 0px 5px 5px rgb(0, 0, 0, 0.4);

        &::before{
            content: '';
            position: absolute;
            bottom: 8px;
            left: -6px;
            width: 30px;
            height: 35px;
            background: #3592FA;
            box-shadow: -3px 3px 0px 0px rgba(0,0,0,0.75);
            z-index: -1;
        }
        
    }
    .card__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
        .card{
            position: relative;
            width: 300px;
            height: 350px;
            gap: 30px;
            box-shadow: -3px 3px 0px 0px rgba(0,0,0,0.75);
            transition: 400ms;

            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(45%);
                transition: 200ms;
                z-index: -1;
                
            }
            h3{
                position: relative;
                font-size: 30px;
                font-weight: 500;
                color: #dce5ee;
                text-shadow: 0 2px 2px #141518;
                top: 100px;
                left: -20px;
                z-index: 1;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: 8px;
                    left: -10px;
                    width: 35px;
                    height: 30px;
                    background: #3592FA;
                    box-shadow: -3px 3px 0px 0px rgba(0,0,0,0.75);
                    z-index: -1;
                    transition: 500ms width;

                }
            }
            .info{
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;
                .link{
                    position: relative;
                    height: 25px;
                    width: 60px;
                    text-align: center;
                    margin: 10px;
                    top: 120px;
                    padding: 5px 10px;
                    a{
                        color: #F3F9FF;
                        outline: none;
                        text-decoration: none;
                        font-size: 10px;
                        font-weight: 600;
                        letter-spacing: 2px;
                        &::after{
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            bottom: 0;
                            left: 0;
                            z-index: -1;
                            background-color: #21293B;
                            box-shadow: -3px 3px 0px 0px rgba(0,0,0,0.75);

                        }
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
            &:hover{
                cursor: pointer;
                box-shadow: 0 30px 30px rgb(0, 0, 0, 0.5);
                img{
                    filter: brightness(35%);
                }
                h3{
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: 8px;
                        left: -10px;
                        width: 60%;
                        height: 30px;
                        background: #3592FA;
                        box-shadow: -3px 3px 0px 0px rgba(0,0,0,0.75);
                        z-index: -1;
                    }
                }
            }

        }
    }
}

// ! -------------------------- CONTACTO -------------------------- 

#contacto{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: max-content;
    margin: 30px 0 0 0;
    padding: 30px 0 30px 0;
    background-image: url(../img/contacto_fondo.jpg);
    background-position: center;
    background-size: 100%;
    object-fit: cover;

    .info__contac{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dce5ee;
        position: relative;
        width: 300px;
        box-shadow: 0 30px 30px rgb(0, 0, 0, 0.5);
        min-height: 450px;
        h2{
            font-size: 25px;
            font-weight: 400;
            color: #21293B;
            margin-bottom: 30px;
            position: relative;
            z-index: 10;
            &::before{
                content: '';
                position: absolute;
                width: 40px;
                height: 40px;
                bottom: 0px;
                right: 20px;
                background-color: #3592FA;
                z-index: -1;
            }
        }
        .form__box{
            width: 100%;
            .input__box{
                position: relative;
                margin-bottom: 30px;
                display: flex;
                input, textarea{
                    width: 100%;
                    height: 100%;
                    resize: none;
                    padding: 5px;
                    outline: none;
                    background: none;
                    border: none;
                    opacity: 0.7;
                    border-bottom: 2px solid #141518;
                    transition: 200ms;
                    &:focus{
                        opacity: 1;
                        & ~ span{
                            transform: translateY(-18px);
                            font-size: 12px;
                            color: #3592FA;
                        }
                    }
                    &:valid{
                        opacity: 1;
                        & ~ span{
                            transform: translateY(-18px);
                            font-size: 12px;
                            color: #3592FA;
                        }
                    }

                }
                textarea{
                   min-height: 80px;
                }

                span{
                    position: absolute;
                    pointer-events: none;
                    font-size: 14px;
                    left: 5px;
                    transition: 200ms;
                }
                #btn{
                    border: none;
                    background: #141518;
                    color: #F3F9FF;
                    letter-spacing: 2px;
                    font-size: 10px;
                    text-transform: uppercase;
                    outline: none;
                    font-weight: 600;
                    box-shadow: -2px 2px 0 0 rgb(0, 0, 0, 0.6);
                    transition: 200ms;
                    cursor: pointer;
                    &:hover{
                        box-shadow: -5px 5px 0 0 rgb(0, 0, 0, 0.6);
                        text-decoration: underline;
                    }
                }
            }
        }
    }

}

// ! -------------------------- FOOTER -------------------------- 

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #141518;
    .info__detalles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        h2{
            color: #F3F9FF;
            font-size: 20px;
            font-weight: 400;
        }
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            list-style: none;
            i{
                color: #3592FA;
                font-size: 15px;
            }
            span{
                color: #F3F9FF;
                font-size: 12px;
                opacity: .8;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    hr{
        width: 80%;
        border: none;
        border-bottom: 1px solid #3592FA;
    }
    #copyright{
        color: #9ca1a5b4;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
    }
}